<div>
  <div class="form">
    <mat-form-field class="form-field">
      <mat-label>Adresse</mat-label>
      <input matInput [(ngModel)]="address" (keydown.enter)="search()" (focusout)="search()">
    </mat-form-field>

    <mat-form-field style="width: 250px;">
      <mat-label>Vos arbres allergènes</mat-label>
      <mat-chip-list #chipList>
        <mat-chip
          *ngFor="let a of allergies"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="remove(a)">
          {{a}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input
          placeholder="Nouvelle allergie..."
          #fruitInput
          [formControl]="fruitCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let a of allAllergies" [value]="a">
          {{a}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <button mat-icon-button class="icon-search green" (click)="find()">
      <mat-icon>search</mat-icon>
    </button>

    <button mat-raised-button class="button-search" (click)="find()">
      Rechercher
    </button>
  </div>
  <div *ngIf="isGeocoding$ | async">
    Recherche de l'adresse en cours...
  </div>
</div>
