<div>
  <div style="display: flex; flex-direction: row;">
    <mat-form-field style="width: 250px;">
      <mat-label>Adresse</mat-label>
      <input matInput [(ngModel)]="address" (keydown.enter)="search()">
    </mat-form-field>

    <mat-form-field style="width: 250px;">
      <mat-label>Vos arbres allergènes</mat-label>
      <input matInput [(ngModel)]="allergies" (keydown.enter)="search()">
    </mat-form-field>

    <button mat-fab color="primary" (click)="search()">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</div>
