<div class="center-align">
    <form class="form" [formGroup]="loginForm">
        <mat-form-field class="full-width">
            <mat-label>E-mail</mat-label>
            <input type="email" matInput formControlName="email" [formControl]="emailFormControl"
                [errorStateMatcher]="matcher" placeholder="Ex. utilisateur@exemple.com">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Merci d'entrer une adresse e-mail valide
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                L'e-mail est <strong>requis</strong>
            </mat-error>
            <button mat-button *ngIf="getFormValue('email')" matSuffix mat-icon-button aria-label="Clear"
                (click)="unsetFormValue('email')">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Mot de passe</mat-label>
            <input type="password" matInput formControlName="password" [formControl]="passwordFormControl"
                [errorStateMatcher]="matcher" placeholder="Password">
            <mat-error *ngIf="passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('required')">
                Le mote de passe doit être d'une taille minimum de <strong>12 charactères</strong>
            </mat-error>
            <mat-error *ngIf="passwordFormControl.hasError('required')">
                Le mot de passe est <strong>requis</strong>
            </mat-error>
            <button mat-button *ngIf="getFormValue('password')" matSuffix mat-icon-button aria-label="Clear"
                (click)="unsetFormValue('password')">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <button mat-button class="login-button">Se connecter</button>
    </form>
</div>