.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: 0 2em;
}

.full-width {
  width: 100%;
}

.center-align {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-button {
    background: #eee;
}