<mat-toolbar class="green">
    <span>KSJ</span>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>

    <span class="material-icons" matTooltip="Signalez un nouvel arbre">
        report_gmailerrorred
    </span>

    <span class="material-icons" matTooltip="Connectez-vous">
        person
    </span>
</mat-toolbar>

<div class="paragraphe">
    <h1>Mon super titre</h1>
    Un super paragraphe expliquant le projet.
</div>

<div>
    <app-query></app-query>
    <app-map></app-map>
</div>