<header>
    <mat-toolbar class="green-bg">
        <a class="router" routerLink="/">
            <span><i>Balance Ton Arbre !</i></span>
        </a>

        <!-- This fills the remaining space of the current row -->
        <span class="fill-remaining-space"></span>

        <a class="router" routerLink="/alert">
            <span class="material-icons" matTooltip="Signalez un nouvel arbre">
                report_gmailerrorred
            </span>
        </a>

        <a class="router" routerLink="/login">
            <span class="material-icons" matTooltip="Connectez-vous">
                person
            </span>
        </a>
    </mat-toolbar>
</header>
<router-outlet></router-outlet>
<footer>Made with ❤️ in Montpellier</footer>
