<div class="map">
  <mgl-map
    [style]="'mapbox://styles/mapbox/streets-v9'"
    [zoom]="[12]"
    [center]="[3.87048, 43.610476]"
    (load)="map = $event"
    [cursorStyle]="cursorStyle"
    [fitBounds]="boundingBox"
    [fitBoundsOptions]="fitBoundsOptions"
  >
    <mgl-geojson-source
        id="user-position"
        [data]="userPosition"
    ></mgl-geojson-source>
    <mgl-layer
        *ngIf="userPosition"
        id="points-user"
        type="circle"
        source="user-position"
        [paint]="{
            'circle-color': '#1B00FF',
            'circle-radius': 5
        }"
    >
    </mgl-layer>

    <mgl-geojson-source
        id="trees"
        [data]="trees"
    ></mgl-geojson-source>
    <mgl-layer
        *ngIf="trees"
        id="trees"
        type="circle"
        source="trees"
        [paint]="{
            'circle-color': 'green',
            'circle-radius': 5
        }"
        (click)="onPointClick($event)"
        (mouseEnter)="cursorStyle = 'pointer'"
        (mouseLeave)="cursorStyle = ''"
    >
    </mgl-layer>
  </mgl-map>
  <div class="mt10" *ngIf="selectedTree">
    {{ selectedTree }}
  </div>
</div>
