<div class="map">
  <mgl-map
    [style]="'mapbox://styles/mapbox/streets-v9'"
    [zoom]="[12]"
    [center]="[3.87048, 43.610476]"
    (load)="map = $event"
  >
  <mgl-geojson-source
      id="user-position"
      [data]="userPosition"
  ></mgl-geojson-source>
  <mgl-layer
      *ngIf="userPosition"
      id="points-user"
      type="circle"
      source="user-position"
      [paint]="{
          'circle-color': '#1B00FF',
          'circle-radius': 5
      }"
  >
  </mgl-layer>
  </mgl-map>
</div>
